
<h3><%= link_to 'New Product', new_product_path %></h3>
<%= render 'sidecar.html' %>
<%#= link_to 'Product Reviews', reviews_path %>

<!-- <table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr> -->

<% @products.each do |product| %>

  <div class="index_product">
    <img src="<%= product.image_url %>">
    <%= product.name %><br />
    <%= number_to_currency product.price %>
    <%= link_to 'Add to Cart', product, method: :post %>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>



<%#= render 'form.html' %>


<%#= link_to 'Add To Cart' %>


