<%#= @product.inspect %>

<%#= link_to 'Back', products_path %>

<p id="notice"><%= notice %></p>

<div class="product_image">
<p>
<% if @product.image_url.nil? %>
  <%= image_tag "http://www.mountfanblade.com/style/no_pic.gif" %>
<% else %>
  <img src="<%= @product.image_url %>" >
<% end %>
</p>
</div>


<div class="product_info">
<p>
  <span id="product_name"><%= @product.name %></span>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency @product.price %>
</p>

<p>
  <b>Description:</b>
  <%= @product.body %>
</p>


  <div id="buy_button"><%= link_to 'Add to Cart', @product, method: :post %></div><br />
  <div id="edit_button"><%= link_to 'Edit Product', edit_product_path(@product) %></div>
</div>



<div class="reviews">
<h3><a href="/reviews/new?id=<%= @product.id %>">Write a Review</a></h3>
<% @reviews.each do |review| %>
  <div class="review">
      "<% review.rating.round.times do %><i class="icon-star"></i><% end %>"<br />
      <%= review.body %><br />
  </div>
<% end %>
</div>


