<%= link_to 'Back', products_path %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
<% if @product.image_url.nil? %>
  <%= image_tag "http://www.mountfanblade.com/style/no_pic.gif" %>
<% else %>
  <img src="<%= @product.image_url %>" >
<% end %>
</p>

<%#= render 'form.html' %>
<%= render 'reviews/form.html.erb' %>

<ol>
<% @reviews.each do |review| %>
  <li><%= review.body %> <%= review.rating %>
<% end %>
</ol>

<!-- <a href = "/reviews/new/<%= @product.id %>">New Review</a> -->
<%= link_to 'Edit', edit_product_path(@product) %> 

<%= render 'sidecar.html' %>

